

body{
    text-align: center;
    background-color: gainsboro;
}

h1{
    color:coral;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color:blue;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 40px;
    font-family:'Zilla Slab Highlight', cursive;
}



section{
    margin-left: 30px;
    
    
}

.one p{

   margin-top: 30px;
   text-align: left;
   color: coral;
   font-family: ;
  
}

span
{
    color:lightcoral;
    font-family:'Zilla Slab Highlight', cursive;
}
.two {
    text-align: center;
    margin-top: 30px;
    color: lightcoral;
    font-size: 40px;
}
 

img{
    width: 250px;
}

.three {
    margin: 50px;
    display: flex;
    border: 2px solid #0006;
    justify-content: space-between;
    border: 2px solid coral;
}

 .about {
    height: 300px;
    width: 100%;
}



.about{
    background-color: coral;
    display: flex;
    
    
}

.about img{
    width: 300px;
}

.about p{
    padding-top: 50px;
    padding-left: 50px;
    font-size: 25px;
    line-height: 1.5;
    color:white;
    
}
.about a{
    margin-top: 200px;
    position: absolute;
    left:50%;
    font-size: 40px;
}




footer{
    margin: 30px;
    color: coral;
}

table{
    border: 2px solid coral;
    font-family: arial, sans-serif;
    width: 80%;
    margin:  100px 150px;
    padding:10px;
    
}
 table,th,td{
    border: 2px solid coral;
 }

 table td{
     font-family:Arial, Helvetica, sans-serif;
     color:gray;
 }

 table th{
     color:blue;
     font-weight: bold;
 }

 fieldset{
     background-color: gray;
 }
 fieldset legend {
     position: relative;
     top:30px;
     font-family:'Zilla Slab Highlight', cursive;
     color:cornflowerblue;
     
 }
 form{
     margin-top: 50px;
     padding: 10px;
     color: coral;
     
 }
 

 input{
     margin: 10px;
     
 }

 button{
     background-color: darkorange;
     color: white;
     margin-top:16px;
     padding: 5px 130px;
     font-size: 20px;
 }